* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

header {    
    background-color: rgba(34, 34, 34, 1);
    display: flex; 
    justify-content: space-between;
    height: 75px;
}

.header__left {
    margin-top: 18px;
    margin-bottom: 19px;
    margin-left: 20.06%;
    margin-right: 26.5%;
    display: flex; 
    gap: 41px;      
}

.header__right {
    margin-top: 26px;
    margin-bottom: 20px;
    margin-right: 15%;
}

.top__main {
    margin-bottom: 4.06%;
    display: flex;
    align-items: center;
}

.top__main__left {    
    margin-right: 3.96%;
}

.top__main__img {
    max-width: 51vw;
}

.vertical__stripe {
    width: 12px;
    height: 92px;
    background-color: rgba(241, 109, 127, 1);
    margin-right: 16px;
}

.top__content {    

    display: grid;
    grid-template-rows: 60% 40%;
}

.top__main__right {
    display: flex;
}

.top__title {
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bold {
    font-size: 48px;
    grid-column: span 2;
}

.middle__main {
    /* display: flex; */
    justify-content: center;
    margin-left: 14.375%;
    margin-right: 14.375%;
    margin-bottom: 96px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);     
    gap: 30px;
}

.sale__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sale__item__img {
    max-width: 100%;
}

.sale__info {
    position: absolute;   
}

.big {
    grid-column: span 3;
}

.sale__text {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pink {
    padding-left: 5px;
    color: #F16D7F;
}

.bottom__header {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bottom__title {
    color: #222;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.bottom__text {
    color: #9F9F9F;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product-box__content {
    display: flex;
    justify-content: center;
    margin-left: 230px;
    margin-right: 230px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.product {
    height: 581px;
}

.product__link {
    display: flex;
    justify-content: center;
}

.product__img {    
    width: 360px;
    margin-bottom: 25px;
}

.mini {
    width: auto;
    height: 419px;
    margin-top: 0 auto;
    margin-bottom: 0 auto;
}


.name__product {
    color: #000;
    font-family: Lato;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product__text {
    margin-top: 12.65px;
    margin-bottom: 18px;
    color: #5D5D5D;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.product__price {
    margin-bottom: 20px;
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 1024px) {
    header {  
        height: 74px;
    }

    .top__title {
        font-size: 24px;
        font-weight: 700;
    }

    .bold {
        font-size: 44px;
        font-weight: 900;
    }

    .product-box__content {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }    
}

@media (max-width: 767px) {
    .header__left {
        margin-left: 4.267%;
    }

    .header__right {
        margin-right: -105px;
    }

    .top__main {
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }
    
    .top__main__right {
        display: flex;
        align-items: center;
    }

    .top__content {
        display: grid;
        grid-template: 60% 40% / 65% 35%;
    }

    .vertical__stripe {
        width: 12px;
        height: 61px;
    }

    .top__title {
        font-size: 20px;
        font-weight: 700;
    }

    .bold {
        font-size: 38px;
        font-weight: 900;
    }

    .pink {
        color: #F16D7F;
    }


    .top__main__left {
        display: none;
    }

    .middle__main {
        display: flex;
        gap: 32px;
        flex-direction: column;
    }
    .big {
        height: 111px;
    }

    .product-box__content {
        display: flex;
        justify-content: center;
        gap: 32px;
        flex-direction: column;
        margin-left: 2.13%;
        margin-right: 2.13%;
    }

    .big {
        object-fit: cover;
        object-position: bottom;
    }

}